@font-face {
  src: url(@fonts/montserrat/montserrat-regular.ttf);
  font-family: mainFont;
  font-display: swap;
}
@font-face {
  src: url(@fonts/montserrat/montserrat-semi-bold.ttf);
  font-family: secondFont;
  font-display: swap;
}
