:root{
  /* -- COLORS -- */

  /* Dark */
  --main-dark: #040D21;
  --second-dark: #1C2333;
  --third-dark: #004182;
  --fourth-dark: #424242;
  --fifth-dark: #8A8A8A;

  /* Light */
  --main-light: #F5F5F5;
  --second-light: #ECECEC;
  --third-light: #45EBA5;
  --fourth-light: #57ABFF;

  /* Others */
  --danger: #D71111;
  --success: #16aa51;
}