:root {
  /* -- COLORS -- */

  /* Dark */
  --main-dark: #040d21;
  --second-dark: #1c2333;
  --third-dark: #004182;
  --fourth-dark: #424242;
  --fifth-dark: #8a8a8a;

  /* Light */
  --main-light: #f5f5f5;
  --second-light: #ececec;
  --third-light: #45eba5;
  --fourth-light: #57abff;

  /* Others */
  --danger: #d71111;
  --success: #16aa51;
}
